header {
    background-color: #25252b;
    color: white;
    font-weight: 900;
    padding: 30px;
    width: 100%;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}